body{
    position: absolute;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-color: aqua;
}
#Titulo{
    text-align: center;
    position: relative;
    left: 450px;
    width: fit-content;
    font-style: italic;
}

#paso1{
    font-family: Arial, Helvetica, sans-serif;
    width: 1450px;

    
}
h1{
    text-align: center;
}

#paso2{
    font-family: Arial, Helvetica, sans-serif;
    width: 1450px;
}
#paso3{
    font-family: Arial, Helvetica, sans-serif;
    width: 1450px;
}
#paso4{
    font-family: Arial, Helvetica, sans-serif;
    width: 1450px;
}
img{
    height:500px;
    width:1450px;
}
#piepagina{
    position: relative;
    width: 400px;
    left: 550px;
}